node_modules/
.pnpm-store/
dist/
.next/
build/
coverage/
.turbo/
.vercel/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/dev/
apps/api/prisma/seed.js
apps/api/prisma/seed.d.ts
apps/api/prisma/seed.js.map

# TS build info
*.tsbuildinfo

# Temp
tmp/
.cache/
